body {
    margin: 0 auto;
    font-family: "Century Gothic", sans-serif;
    background-color: #D3D3D3;
}

header {
    height: 170px;
    background-color: #749BC2;
    box-shadow: inset 0px 5px 25px 5px rgb(222, 219, 219);
}

header img {
    float: left;
    height: 150px;
    width: 150px;
    margin: 0px;
}

header h1 {
    float: left;
    margin: 50px 0 0 30px;
    font-size: 60px;
    color: #ffffff;
}

nav {
    clear: both;
    width: 80%;
    margin: 0px auto;
    height: 55px;
}

nav a {
    color: white;
    text-decoration: none;
    text-align: center;
}

nav .opcao {
    float: left;
    width: 31.3%;
    background-color: #4682A9;
    padding: 10px 0;
    margin: 0 1%;
    font-size: 26px;
}


section {
    clear: both;
    min-height: 360px;
    width: 100%;
    margin-top: 2rem;
}

footer {
    background-color: #005f89;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#topo {
    width: 900px;
    margin: 0px auto;
    height: 250px;
}

.geladeira {
    height: 250px;
    width: 125px;
}

.gel-direita {
    float: right;
}

.gel-esquerda {
    float: left;
}

section #titulos {
    float: left;
    height: 250px;
    width: 650px;
    margin: 0px auto;
}

h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 50px;
}

h3 {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

section p {
    clear: both;
    text-align: center;
    margin: 10px 80px;
}

.table-produtos {
    margin: 10px auto;
    text-align: center;
}

.titulo-tabela {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    padding: 5px;
    border: transparent;
}

tr,
td,
th {
    border: 1px solid #B0C4DE;
    padding: 5px;
}

tr,
td {
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #b1ccf5;
}

tr:nth-child(odd) {
    background-color: #83afd3;
}

.faleConosco {
    width: 300px;
    margin: 30px auto;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 10px;
    border-width: 5px;
    padding: 15px 30px;
    border-color: #4682A9;
    background-color: #749BC2;

}

.faleConosco input {
    border-radius: 10px;
    padding: 10px;
}

.faleConosco input,
.faleConosco textarea,
.faleConosco select {
    margin: 5px auto;
    width: 100%;
    padding: 5px 0;
}

#motivo {
    border-radius: 10px;
}

.faleConosco textarea {
    height: 100px;
    resize: none;
    border-radius: 10px;
}

.faleConosco button {
    width: 30%;
    margin: 4px 0px;
    background-color: #b1ccf5;
    font-weight: bold;
    font-size: 16px;
    border-radius: 90px;
    border-color: #4682A9;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
}

.faleConosco button:hover {
    margin: 0px;
    padding: 3px;
    color: #F6F4EB;
    background-color: #4682A9;
    cursor: pointer;


}

.legenda-input {
    color: white;
}

legend {
    padding: 2px 10px;
    color: white;
    background-color: #11235A;
    border-radius: 5px;
}

.frmfaleconosco {
    margin-bottom: 10rem;
}

/* CSS */
.opcao {
    align-items: center;
    background-image: linear-gradient(144deg, #E1E7E4, #4682A9 40%, #E1E7E4);
    border: 0;
    border-radius: 8px;
    box-shadow: #E1E7E4 10px 10px 10px;
    color: #FFFFFF;
    display: flex;
    font-size: 30px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.opcao:active,
.opcao:hover {
    background-image: linear-gradient(144deg, #83afd3, #E1E7E4 40%, #83afd3);
    color: #11235A;
}

@media (min-width: 768px) {
    .opcao {
        font-size: 24px;
        min-width: 196px;
    }
}