<nav class="mx-0 navbar navBar-Color navbar-expand-lg ">
    <div class="container-fluid">
        <img class="img_icon_nav rounded-circle " src="/img/pngwing.com (1).png" alt="">
        <h2 class="nav_title px-3">Fã Clube do Senhor dos Anéis</h2>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mx-0 mb-2 mb-lg-0 align-content-center text-center">
                <li class="nav-item">
                    <a class="nav-item-link px-3 mx-0 pb-3" href="/index.html">Historia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item-link  px-3 mx-0 pb-3" href="/pages/map.html">Mapa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item-link px-3 mx-0 pb-3" href="/pages/personagens.html">Personagens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item-link px-3 mx-0 pb-3" href="/pages/creatures.html">Criaturas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item-link px-3 mx-0 pb-3" href="/pages/facaParte.html">Faça Parte</a>
                </li>
            </ul>
        </div>
    </div>
</nav>